h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(64, 92, 253);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0px !important;
    margin-top:10px!important;
    text-align: center;
    padding-bottom: 10px;

}
h2{
    background-color: rgb(54, 104, 240);
    /* margin-top:0px !important; */
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text-purple{
    color: rgb(201, 222, 240);
    font-size: 75px;
}
.bg-greyBlue{
    background-color: rgb(201, 222, 240);
}

